* {
  margin: 0;
  padding: 0;
}

.fondo_azul {
  background-color: #010484;
}

.link_header {
  color: white;
  font-weight: bold;
}

.fondo_marron {
  background-color: #502314;
}

.letra_titulo {
  color: antiquewhite
}

.input-group-text {
  color: black
}

.text-center {
  color: antiquewhite
}

.btn {
  color: antiquewhite
}

.button {
  color: cornflowerblue
}

.productos-parrafo {
  color: antiquewhite
}